<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Owners only</title>
  </head>
  <body>
      
    <div class="container">
    <h1>Owners only</h1>
    <form action="#" method="post" novalidate="novalidate"> 
        <div class="row"> 
            <div class="col-lg-12"> 
                <div class="row"> 
                    <div class="col-lg-3 col-md-3 col-sm-12 p-0"> 
                        <input type="text" class="form-control search-slt" placeholder="Enter Pickup City"> </div> 
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0"> 
                            <input type="text" class="form-control search-slt" placeholder="Enter Drop City"> 
                        </div> 
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0"> 
                            <select class="form-control search-slt" id="exampleFormControlSelect1"> 
                                <option selected>choose category</option>
                                <option value="">Apartments & Duplex for Sale</option>
                                <option value="">Apartments & Duplex for Rent</option>
                                <option value="">Villas For Sale</option>
                                <option value="">Villas For Rent</option>
                                <option value="">Vacation Homes for Sale</option>
                                <option value="">Vacation Homes for Rent</option>
                                <option value="">Commerical for Sale</option>
                                <option value="">Commerical for Rent</option>
                                <option value="">Buildings & Land</option> 
                            </select> 
                        </div> 
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0"> 
                            <button type="button" class="btn btn-danger wrn-btn">Search</button> 
                        </div> 
                    </div> 
                </div> 
            </div> 
        </form> 
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>